<main>
	<%- include('../partials/adminSidebar') %>

	
	<div id="main-wrapper">
		
		<div class="bg-white shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme d-inline-block">Gallery</h5>
		</div>
     
		
	

        <h3> Gallery</h3>

        <div class="container">
            <div class="row">
                <%if (records.length >0){ %>
                  <% records.forEach(function(row){ %>
           <div class="col-md-4" style="width: 210px;margin-bottom: 30px;">
             <img src="/assets/public/image/<%= row.img %>" alt="img" style="width:200px;height:300px;margin:15px -10px;">
<div style="background-color: rgb(195, 241, 205);">Added by-<%= (row.firstName)?(row.firstName):"volenteer" %></div>
           </div>
           <% }) }%>
              </div></div>
		
		
		
	</div>
</main>