<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Welcome <%= currentUser.firstName %></li>
		<li><a href="/volunteer/dashboard">Dashboard<img width="17px" height="17px" src="/assets/images/help.png" style="padding-bottom:2px;margin-left:3px"></a></li>

		<li><a href="/volunteer/plantations">My Plantations<img width="17px" height="17px" src="/assets/images/plus2.png" style="padding-bottom:2px;margin-left:3px"></a></li>

		<li><a href="/donor/v_nursary_list">Nursery Details<img width="17px" height="17px" src="/assets/images/help.png" style="padding-bottom:2px;margin-left:3px"></a></li>

		<li><a href="/donor/upload_view_pic">Upload/View Images<img width="17px" height="17px" src="/assets/images/plus2.png" style="padding-bottom:2px;margin-left:3px"></a></li>

		<li><a href="/volunteer/profile">My Profile<img width="17px" height="17px" src="/assets/images/plus2.png" style="padding-bottom:2px;margin-left:3px"></a></li>
		<li><a href="/auth/logout" class="btn">Logout</a></li>
	</ul>
</div>