<main>
	<%- include('../partials/volenteerSidebar') %>
	
	<div id="main-wrapper">
		
		<div class="bg-white shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme d-inline-block">Upload and View Images</h5>
		</div>
     
		
		<form enctype="multipart/form-data" action="/donor/upload" method="POST" class="w-75 border ms-3 my-3 p-4 bg-white rounded-2 shadow" style="min-width: 400px;">

			
			<div class="row">
				<div class="col-sm-6 mb-4">
					<label class="form-label">Upload Pic</label>
                    <input type="file" name="avatar" />
				</div>
				
				
			</div>
			
			
		
			
		
			
			<button type="submit" class="btn w-75 d-block m-auto mt-4">Upload</button>
		</form>

        <h3> My Images</h3>

        <div class="container">
            <div class="row">
                <%if (records.length >0){ %>
                  <% records.forEach(function(row){ %>
			<div class="col-md-4" style="width: 210px;margin-bottom: 30px;">

             <img src="/assets/public/image/<%= row.img %>" alt="img" style="width:200px;height:300px;margin:15px -10px;">

           </div>
           <% }) }%>
              </div></div>
		
		
		
	</div>
</main>