<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/fiy/Pictures/GS Logo-1_Revised - Text in Dark_PNG.jpg" type="image/x-icon">

  <title>Green Saviours</title>


  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/fiy/css/all.min.css">

  <!-- AOS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- Local Stylesheet -->
  <link rel="stylesheet" href="/assets/fiy/css/styles.css">
  <link rel="stylesheet" href="/assets/fiy/css/workstyles.css">

<body>

  <body>
   

    <nav class="nav-year">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-2021-tab" data-bs-toggle="tab" data-bs-target="#nav-2021" type="button"
          role="tab" aria-controls="nav-2021" aria-selected="true">2022</button>
        
        <button class="nav-link" id="nav-2019-tab" data-bs-toggle="tab" data-bs-target="#nav-2019" type="button"
          role="tab" aria-controls="nav-2019" aria-selected="false">2021</button>
        
      </div>
    </nav>
    <div class="tab-content mt-5" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-2021" role="tabpanel" aria-labelledby="nav-2021-tab">
        <!-- 2022 MINI forest -->
        <section class="year-2021-wasteCollected">
          <div class="row title-pad">
            <div class="title-div-first title-div-primary">
              <h1 class="">Mini Forests</h1>
            </div>
          </div>
        </section>
        <section class="content-common content-primary" id="">
          <div class="container carousel-work" data-aos="fade-up">
            <div id="carousel-2021-wasteCollected" class="carousel slide" data-bs-ride="carousel" data-bs-pause="hover"
              data-bs-interval="8000">

              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel-2021-wasteCollected" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel-2021-wasteCollected" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carousel-2021-wasteCollected" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active item">
                  <img src="/assets/fiy/Pictures/mf1.png" class="d-block carousel-img" alt="...">
                  <div class="carousel-caption d-md-block">
                    <h5>Belgaum Fort</h5>
                  </div>
                </div>
                <div class="carousel-item  item">
                  <img src="/assets/fiy/Pictures/hanji farms mf.png" class="d-block carousel-img" alt="...">
                  <div class="carousel-caption d-md-block">
                    <h5>Hanji Farms </h5>
                  </div>
                </div>
                <div class="carousel-item item">
                  <img src="/assets/fiy/Pictures/patil farms mf.png" class="d-block carousel-img" alt="...">
                  <div class="carousel-caption d-md-block">
                    <h5>Patil Farms</h5>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel-2021-wasteCollected"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel-2021-wasteCollected"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

          <div class="container">
            <div class="row event-div">
              <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                data-aos="fade-up">
                <p class="event-title"><b>Miyawaki Method</b></p>
                <p class="event-info">
                  Soil is loosened upto a depth of one metre using
                a excavator, which is enriched with mxing biomass and 
              porosity increasing ingredients. Saplings are planted.
            Plot is mulched using paddy straw or equivalents. Plot 
          is watered by deweeding until it forms its own ecosystem.</b> <br>
                </p>
              </div>
              <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                data-aos="fade-up">
                <p class="event-title"><b>Modified Green Saviours Method</b></p>
                <p class="event-info">
                  Two to three pits are dug per square metre. pits are enriched with biomass 
                  and porosity increasing ingredients. Saplings are planted and paddy 
                  straws or dry leaves are used as mulch. Live mulch is planted or 
                  emerging weeds and grass are chopped and flattened.<br>
              </div>
              <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                data-aos="fade-up">
                <p class="event-title"><b>Maintenance</b></p>
                <p class="event-info">
                 Maintenance of the planted saplings is an essential element of ecological 
                 restoration and hence the green saviors team has dedicated several sundays 
                 of work to ensure high rates of survival at the plantation sites. primary tasks are to 
                 water the planted saplings at regular intervals depending upon the season. <br>
                </p>
              </div>
            </div>
          </div>
        </section>

        <!-- 2021 current status -->
        <section class="year-2021-greenStudyTour">
          <div class="row title-pad">
            <div class="title-div title-div-secondary">
              <h1 class="">Current Status</h1>
            </div>
          </div>
        </section>
        <section class="content-common content-secondary" id="">
          <div class="container carousel-work" data-aos="fade-up">
            <div id="carousel-2021-greenStudyTour" class="carousel slide" data-bs-ride="carousel" data-bs-pause="hover"
              data-bs-interval="8000">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel-2021-greenStudyTour" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel-2021-greenStudyTour" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carousel-2021-greenStudyTour" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item  active item">
                  <img src="/assets/fiy/Pictures/Picture17.png" class="d-block carousel-img" alt="...">
                  <div class="carousel-caption d-md-block">
                    
                  </div>
                </div>
                <div class="carousel-item  item">
                  <img src="/assets/fiy/Pictures/Picture18.png" class="d-block carousel-img" alt="...">
                  <div class="carousel-caption d-md-block">
                    
                  </div>
                </div>
                <div class="carousel-item item">
                  <img src="/assets/fiy/Pictures/Picture3.png" class="d-block carousel-img" alt="...">
                  <div class="carousel-caption d-md-block">
                    
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel-2021-greenStudyTour"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel-2021-greenStudyTour"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

          <div class="container">
            <div class="row event-div">
              <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                data-aos="fade-up">
                <p class="event-title"><b>Current Status</b></p>
                <p class="event-info">
                  The green savviours associationis currently working on 
                  plantation of one million trees of around 100 species of plants 
                  , trees and shrubs native to the western ghats region.<br>
                </p>
              </div>
              <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                data-aos="fade-up">
                <p class="event-title"><b>Green Talks </b></p>
                <p class="event-info">
                  Very often, our team visits various educational institues and also working 
                  environments to makepeople aware of the climatic changes taking place 
                  and to encourage them to join us.<br>
                </p>
              </div>
              <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                data-aos="fade-up">
                <p class="event-title"><b>Plantation Drives</b></p>
                <p class="event-info">
                  With all of the other things going on, our plantatio drives on sunday mornings continue to 
                  be a regular thing. Here, every week many volunteers fron various institutions join us.<br>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="tab-pane fade" id="nav-2020" role="tabpanel" aria-labelledby="nav-2020-tab">

        <!-- YEAR 2020 -->

        <!-- 2020 Awareness Programs -->
        <section class="year-2020-awarenessPrograms">
          <div class="row title-pad">
            <div class="title-div-first title-div-primary">
              <h1 class="">Awareness Programs</h1>
            </div>

          </div>
          <section class="content-common content-primary" id="">
            <div class="container carousel-work" data-aos="fade-up">
              <div id="carousel-2020-awarenessPrograms" class="carousel slide" data-bs-ride="carousel"
                data-bs-pause="hover" data-bs-interval="8000">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carousel-2020-awarenessPrograms" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carousel-2020-awarenessPrograms" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active item">
                    <img src="/assets/fiy/content/initiatives/2020/awareImg1.jpg" class="d-block carousel-img" alt="...">
                    <div class="carousel-caption d-md-block">
                      <h5>Plastic Waste Management Awareness</h5>
                    </div>
                  </div>
                  <div class="carousel-item item">
                    <img src="/assets/fiy/content/initiatives/2020/awareImg3.jpg" class="d-block carousel-img" alt="...">
                    <div class="carousel-caption d-md-block">
                      <h5>Solid Waste Management</h5>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-2020-awarenessPrograms"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-2020-awarenessPrograms"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>

            <div class="container">
              <div class="row event-div justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                  data-aos="fade-up">
                  <p class="event-title"><b>◆ Plastic Waste Pollution</b></p>
                  <p class="event-info">
                    <strong>Topic:</strong> Plastic Waste, Thermocol & E-Waste Management<br>
                    <strong>Date:</strong> 26th January <br>
                    <strong>Conducted by:</strong> APBCT Trustee-Vikas Desai <br>
                    <strong>Co-ordinated by:</strong> Namrata Sawant <br>
                    <strong>Location:</strong> Majiwada, Thane(W)<br>
                  </p>
                </div>
                <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                  data-aos="fade-up">
                  <p class="event-title"><b>◆ Solid Waste Management</b></p>
                  <p class="event-info">
                    APBCT arranged SWM Awareness Programs in area of <b>Thane Mahanagarpalika</b>
                    regarding segregation of waste, in its member societies under
                    <b>'Mazi Vasundhara Abhiyan'</b> where members took pledge
                    <b>'Ek Harit Kruti Shapath'</b> during <b>7-12-2020</b> to <b>15-12-2020</b> <br>
                  </p>
                </div>
              </div>
            </div>
          </section>
        </section>

        <!-- 2020 Waste Collected -->
        <section class="year-2020-wasteCollected">
          <div class="row title-pad">
            <div class="title-div title-div-secondary">
              <h1 class="">Waste Collection Drives</h1>
            </div>
          </div>
        </section>
        <section class="content-common content-secondary" id="">
          <div class="container carousel-work" data-aos="fade-up">
            <div id="carousel-2020-wasteCollected" class="carousel slide" data-bs-ride="carousel" data-bs-pause="hover"
              data-bs-interval="8000">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel-2020-wasteCollected" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel-2020-wasteCollected" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carousel-2020-wasteCollected" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item  active item">
                  <img src="/assets/fiy/content/initiatives/2020/wasteCimg1.jpg" class="d-block carousel-img" alt="...">
                  <div class="carousel-caption d-md-block">
                    <h5>Waste Collection Drive</h5>
                  </div>
                </div>
                <div class="carousel-item  item">
                  <img src="/assets/fiy/content/initiatives/2020/wasteCimg2.jpg" class="d-block carousel-img" alt="...">
                  <div class="carousel-caption d-md-block">
                    <h5>Lock Down Drive</h5>
                  </div>
                </div>
                <div class="carousel-item item">
                  <img src="/assets/fiy/content/initiatives/2020/wasteCimg3.jpg" class="d-block carousel-img" alt="...">
                  <div class="carousel-caption d-md-block">
                    <h5>Mukta Bharat Maha Abhiyan</h5>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel-2020-wasteCollected"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel-2020-wasteCollected"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

          <div class="container">
            <div class="row event-div">
              <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                data-aos="fade-up">
                <p class="event-title"><b>◆ Waste Collection Drive</b></p>
                <p class="event-info">
                  Citizens of Thane enthusiastically participated in <b>'Clean & Dry Waste, Thermocol & E-Waste
                    Collection Drives'</b>
                  - a joint initiative of our organization <b>APBCT-Thane</b> and <b>Thane Municipal Corporation</b>
                  under <b>'Single Use Plastic Mukt Bharat Maha Abhiyan'</b> <br>
                </p>
              </div>
              <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                data-aos="fade-up">
                <p class="event-title"><b>◆ LOCKDOWN DRIVE</b></p>
                <p class="event-info">
                  From <b>2-10-2019</b> to <b>9-5-2020</b>, <b>7996.770 Kgs</b> of Dry Waste & <b>510.680 Kgs</b> of
                  Thermocol,
                  was collected and sent for RECYCLING, under &nbsp; <b>'Single Use Plastic Mukta Bharat Maha
                    Abhiyan'</b>
                  of APBCT & TMC. Note of our work taken by; <b>'MAHARASHTRA TIMES'</b> <br>
              </div>
              <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                data-aos="fade-up">
                <p class="event-title"><b>◆ Mukta Bharat Maha Abhiyan</b></p>
                <p class="event-info">
                  APBCT's good work applauded by <b>Lokmat Times</b>. Waste Collection Drives
                  with TMC from <b>100+ societies</b> by APBCT under <b>'Single Use Plastic Mukta Bharat Maha
                    Abhiyan'</b> from <br>
                  <b>1-10-2019</b> to <b>30-9-2020</b> with huge collection of <b>14,134.490 Kgs</b> of Dry Waste<br>
                </p>
              </div>
            </div>
          </div>
        </section>

        <!-- 2020 Green Study Tour -->
        <section class="year-2020-greenStudyTour">
          <div class="row title-pad">
            <div class="title-div title-div-primary">
              <h1 class="">Green Study Tour</h1>
            </div>
          </div>
        </section>
        <section class="content-common content-primary" id="">
          <div class="container carousel-work" data-aos="fade-up">
            <div id="carousel-2020-greenStudyTour" class="carousel slide" data-bs-ride="carousel" data-bs-pause="hover"
              data-bs-interval="8000">
              <div class="carousel-indicators">
                <!-- <button type="button" data-bs-target="#carousel-2020-greenStudyTour" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> -->
                <!-- <button type="button" data-bs-target="#carousel-2020-greenStudyTour" data-bs-slide-to="1" aria-label="Slide 2"></button> -->
                <!-- <button type="button" data-bs-target="#carousel-2020-greenStudyTour" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active item">
                  <img src="/assets/fiy/content/initiatives/2020/greenSImg2.jpg" class="d-block carousel-img" alt="...">
                  <div class="carousel-caption d-md-block">
                    <h5>Nature Trail</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row event-div justify-content-center">
              <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                data-aos="fade-up">
                <p class="event-title"><b>◆ Nature Trail </b></p>
                <p class="event-info">
                  <strong>Event:</strong> Nature Trail of APB's Green Learners' and APB Members'<br>
                  <strong>Date:</strong> 8th March<br>
                  <strong>Time:</strong> 9 to 11 a.m.<br>
                  <strong>Location:</strong> Dattaji Salvi Udyan, Near Kopari Bridge, Thane (E)-400 603<br>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="tab-pane fade" id="nav-2019" role="tabpanel" aria-labelledby="nav-2019-tab">

        <!-- YEAR-2019 -->

        <!-- 2019 Awareness Programs -->
        <section class="year-2019-awarenessPrograms">
          <div class="row title-pad">
            <div class="title-div-first title-div-primary">
              <h1 class="">Awareness Programs</h1>
            </div>
          </div>
        </section>
        <section class="content-common content-primary" id="">
          <div class="container carousel-work" data-aos="fade-up">
            <div id="carousel-2019-awarenessPrograms" class="carousel slide" data-bs-ride="carousel"
              data-bs-pause="hover" data-bs-interval="8000">
              <div class="carousel-indicators">
                <!-- <button type="button" data-bs-target="#carousel-2019-awarenessPrograms" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel-2019-awarenessPrograms" data-bs-slide-to="1" aria-label="Slide 2"></button> 
                <button type="button" data-bs-target="#carousel-2019-awarenessPrograms" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active item">
                  <img src="/assets/fiy/Pictures/8567b221-3ac2-48a4-9c4a-d2cbfe9003b4.jpeg" class="d-block carousel-img" alt="...">
                  <div class="carousel-caption d-md-block">
                    <h5>Green Talk at KLS GIT</h5>
                  </div>
                </div>
              </div>
              <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carousel-2019-awarenessPrograms" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel-2019-awarenessPrograms" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button> -->
            </div>
          </div>

          <div class="container">
            <div class="row event-div justify-content-center">
              <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                data-aos="fade-up">
                <p class="event-title"><b>Green Talk at KLS GIT</b></p>
                <p class="event-info">
                  Taking the story of our work and the importance of conserving the western ghats 
                  to the students KLS Gogte INstitute of Technology on 5th January.<br>
                </p>
              </div>
            </div>
          </div>
        </section>

        <!-- Native Species Propagation -->
        <section class="year-2021-wasteCollected">
          <div class="row title-pad">
            <div class="title-div title-div-secondary">
              <h1 class="">Native Species Propagation</h1>
            </div>
          </div>
        </section>
        <section class="content-common content-secondary" id="">
          <div class="container carousel-work" data-aos="fade-up">
            <div id="carousel-2019-wasteCollected" class="carousel slide" data-bs-ride="carousel" data-bs-pause="hover"
              data-bs-interval="8000">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel-2019-wasteCollected" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel-2019-wasteCollected" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <!-- <button type="button" data-bs-target="#carousel-2019-wasteCollected" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active item">
                  <img src="/assets/fiy/Pictures/Picture19.png" class="d-block carousel-img" alt="...">
                  <div class="carousel-caption d-md-block">
                    <h5>Kalugonda</h5>
                  </div>
                </div>
                <div class="carousel-item item">
                  <img src="/assets/fiy/Pictures/Picture20.png" class="d-block carousel-img" alt="...">
                  <div class="carousel-caption d-md-block">
                    <h5>Amboti</h5>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel-2019-wasteCollected"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel-2019-wasteCollected"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

          <div class="container">
            <div class="row event-div justify-content-center">
              <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                data-aos="fade-up">
                <p class="event-title"><b>Benefits of native plants</b></p>
                <p class="event-info">
                  Planting native trees and shrubs helps restoring the original ecosystem of 
                  the region. They are very well suited to our climate and soil types and once 
                  established, requires much less water.<br>
              </div>
              <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                data-aos="fade-up">
                <p class="event-title"><b>Benefits of native plants</b></p>
                <p class="event-info">
                  They have defences to many diseases and insect pests. They create deep and extensive 
                  root systems which helps to stabilise the soil column and create an environment favourable to 
                  building fertile soils rich in oganic matter.<br>
                </p>
              </div>
            </div>

          </div>
        </section>

        
      </div>

      <div class="tab-pane fade" id="nav-2018" role="tabpanel" aria-labelledby="nav-2018-tab">

        <!-- YEAR 2018 -->

        <!-- 2018 Awareness Programs -->
        <section class="year-2018-awarenessPrograms">
          <div class="row title-pad">
            <div class="title-div-first title-div-primary">
              <h1 class="">Awareness Programs</h1>
            </div>
          </div>
        </section>
        <section class="content-common content-primary" id="">
          <div class="container carousel-work" data-aos="fade-up">
            <div id="carousel-2018-awarenessPrograms" class="carousel slide" data-bs-ride="carousel"
              data-bs-pause="hover" data-bs-interval="8000">
              <div class="carousel-indicators">
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active item">
                  <img src="/assets/fiy/content/initiatives/2018/awareImg4.jpeg" class="d-block carousel-img" alt="...">
                  <div class="carousel-caption d-md-block">
                    <h5>Plastic Waste Pollution Awareness</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row event-div justify-content-center">
              <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                data-aos="fade-up">
                <p class="event-title"><b>◆ Plastic Waste Pollution Awareness</b></p>
                <p class="event-info">
                  On <b>World Environment</b> Day <b>5th June</b>, 2018, between 2.30 p.m. to 4 p.m. at Mumbai
                  Regional Office of <b>HUDCO</b> at: 175, 2nd Floor, Shreyas Chambers, Dr. D. N. Road, Fort, Mumbai -
                  400001
                  Conducted by <b>Hetal Gala</b> and <b>Anuja Gupte</b>. Co-ordinated by <b>Pragati Jadhav</b> <br>
                </p>
              </div>
            </div>
          </div>
        </section>

        <!-- 2018 Social Outreach Programs -->
        <section class="year-2018-greenStudyTour">
          <div class="row title-pad">
            <div class="title-div title-div-secondary">
              <h1 class="">Social Outreach Programs</h1>
            </div>
          </div>
        </section>
        <section class="content-common content-secondary" id="">
          <div class="container carousel-work" data-aos="fade-up">
            <div id="carousel-2018-greenStudyTour" class="carousel slide" data-bs-ride="carousel" data-bs-pause="hover"
              data-bs-interval="8000">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel-2018-greenStudyTour" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel-2018-greenStudyTour" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carousel-2018-greenStudyTour" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item  active item">
                  <img src="/assets/fiy/Pictures/content/initiatives/2018/greenSImg1.jpg" class="d-block carousel-img" alt="...">
                  <div class="carousel-caption d-md-block">
                    <h5>Vrukshavalli Skit</h5>
                  </div>
                </div>
                <div class="carousel-item  item">
                  <img src="/assets/fiy/Pictures/content/initiatives/2018/greenSImg2.jpg" class="d-block carousel-img" alt="...">
                  <div class="carousel-caption d-md-block">
                    <h5>Vrukshavalli Exhibition</h5>
                  </div>
                </div>
                <div class="carousel-item item">
                  <img src="/assets/fiy/Pictures/content/initiatives/2018/greenSImg3.jpg" class="d-block carousel-img" alt="...">
                  <div class="carousel-caption d-md-block">
                    <h5>ABP Maza Interview</h5>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel-2018-greenStudyTour"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel-2018-greenStudyTour"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

          <div class="container">
            <div class="row event-div">
              <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                data-aos="fade-up">
                <p class="event-title"><b>◆ APBCT Performed Skit at Vrukshavalli</b></p>
                <p class="event-info">
                  <b>उपवन लेक फेस्टीवल</b>, थाने(पश्चिम)-घनकचरा व्यवस्थापन विषयपर <b>१४ जनवरी</b>, २0१८ को सादर की गई,
                  एपीबी की विनोदी व्यंग लघुनाटिका को,
                  स्मृतीचिन्ह देकर सन्मानित किया गया. Skit was also performed at <b>Vrukshavalli</b> venue.
                  <b>TMC</b> felicited the participants with a trophy and certificate<br>
                </p>
              </div>
              <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                data-aos="fade-up">
                <p class="event-title"><b>◆ VRUKSHAVALLI EXHIBITION-2018</b></p>
                <p class="event-info">
                  ANTI-PLASTIC BRIGADE, got <b>3rd prize</b>, in the category of <b>'Miniature Landscape
                    Competition'</b>,
                  in '<b>VRUKSHAVALLI EXHIBITION-2018</b>', held at Raymond Ground, Pokhran Road No.1, THANE (West),
                  for its <b>SWM Theme</b> based Miniature Landscape. It was APB's <b>first attempt</b> <br>
                </p>
              </div>
              <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center about-text-wrapper"
                data-aos="fade-up">
                <p class="event-title"><b>◆ ABP Maza Interview</b></p>
                <p class="event-info">
                  On <b>19th March</b>, 2018 (Monday) Live Interview <br> of <b>President-Hetal Gala</b>, of
                  ANTI-PLASTIC BRIGADE CHARITABLE TRUST-THANE,
                  on <br> <b>ABP MAZA</b> between 8.30 p.m. to 9.00 p.m. regarding <b>'PLASTIC BAN'</b> <br>
                  <a href="https://www.youtube.com/watch?v=t4rdPmqsaE0" class="button--link">
                    Video Here
                    <i class="fa fa-long-arrow-alt-right" aria-hidden="true">
                    </i>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- <footer> -->
    <a href="#top" id="rollUp" class="init btn btn-primary"><i class="fa fa-chevron-up"></i></a>
    <!-- <footer> -->
    <footer id="contact" class="shadow-lg py-4 mb-0">
      <div class="section-title">
        <h1>Contact Us</h1>
        <em>Ways to Reach Us</em>
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-6 my-2">
            <h4>Get in Touch</h4>
            <i class="bi bi-envelope"></i>
            Email:
            <a href="mailto:greensaviours2016@gmail.com" target="_blank"
              rel="noopener noreferrer">greensaviours2016@gmail.com</a>
            <br>
            <i class="bi bi-phone"></i>
            Phone: <a href="tel:+919611313919">+91 9611313919</a>
            <br>
            <div class="social-links my-2">
              <a href="https://twitter.com/green_saviours"><i class="bi bi-twitter"></i></a>
              <a href="https://www.instagram.com/greensaviours/"><i class="bi bi-instagram"></i></a>
              <a href="https://www.facebook.com/trees4theplanet/?mibextid=ZbWKwL"><i class="bi bi-facebook"></i></a>
            </div>
          </div>
          <div class="col-sm-6 my-2">
            <h4>Location</h4>
            <div class="d-flex justify-content-center">
              <i class="bi bi-geo-alt"></i>
              <address>Kedar Building, 2nd Cross,Vidyanagar, Angol,
                Belagavi, Karnataka, India. PIN:590006
              </address>
            </div>
          </div>
        </div>
       
      </div>
    </footer>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer">
      </script>
    <!-- SmoothScroll -->
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
    <!-- Waypoints -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"
      integrity="sha512-ZKNVEa7gi0Dz4Rq9jXcySgcPiK+5f01CqW+ZoKLLKr9VMXuCsw3RjWiv8ZpIOa0hxO79np7Ec8DDWALM0bDOaQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Counter-Up -->
    <script src="/assets/fiy/Pictures/vendors/Counter-Up/jquery.counterup.min.js"></script>
    <!-- Owl Carousel -->
    <script src="/assets/fiy/Pictures/vendors/Owl-Carousel/owl.carousel.min.js"></script>
    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <!-- Local -->
    <script src="/assets/fiy/js/nav.js"></script>
    <script src="/assets/fiy/js/visible-onscroll.js"></script>
    <script src="/assets/fiy/Pictures/js/owl-carousel.js"></script>

  </body>

</html>