<head>
 
	<!-- Google Fonts -->
	 <link rel="preconnect" href="https://fonts.googleapis.com">
	 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	 <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
   
	 <!-- Bootstrap -->
	 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
	   integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   
	 <!-- Bootstrap Icons -->
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
   
	 <!-- Font Awesome -->
	 <link rel="stylesheet" href="/assets/fiy/css/all.min.css">
   
	 <!-- AOS -->
	 <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
   
	 <!-- Owl Carousel -->
	 <link rel="stylesheet" href="/assets/fiy/vendors/Owl-Carousel/assets/owl.carousel.min.css">
	 <link rel="stylesheet" href="/assets/fiy/vendors/Owl-Carousel/assets/owl.theme.default.min.css">
   
	 <!-- Swiper -->
	 <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
   
	 <!-- Local Stylesheet -->
	 <link rel="stylesheet" href="/assets/fiy/css/styles.css">
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-8T34V449LD"></script>
   <script>
	 window.dataLayer = window.dataLayer || [];
	 function gtag() { dataLayer.push(arguments); }
	 gtag('js', new Date());
   
	 gtag('config', 'G-8T34V449LD');
   </script>
   <!-- jQuery -->
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
	   integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
	   crossorigin="anonymous" referrerpolicy="no-referrer">
	   </script>
	 <!-- Swiper -->
	 <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	 <!-- SmoothScroll -->
	 <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
	 <!-- Bootstrap -->
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	   integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	   crossorigin="anonymous"></script>
	 <!-- Waypoints -->
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"
	   integrity="sha512-ZKNVEa7gi0Dz4Rq9jXcySgcPiK+5f01CqW+ZoKLLKr9VMXuCsw3RjWiv8ZpIOa0hxO79np7Ec8DDWALM0bDOaQ=="
	   crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	 <!-- Counter-Up -->
	 <script src="/assets/fiy/Pictures/vendors/Counter-Up/jquery.counterup.min.js"></script>
	 <!-- Owl Carousel -->
	 <script src="/assets/fiy/Pictures/vendors/Owl-Carousel/owl.carousel.min.js"></script>
	 <!-- AOS -->
	 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	 <script>
	   AOS.init();
	 </script>
	 <!-- Local -->
	 <script src="/assets/fiy/Pictures/js/nav.js"></script>
	 <script src="/assets/fiy/Pictures/js/visible-onscroll.js"></script>
	 <script src="/assets/fiy/Pictures/js/owl-carousel.js"></script>
	 <script src="/assets/fiy/Pictures/js/swiper.js"></script>
	 <script>
	   $('.counter').counterUp({
		 delay: 16,
		 time: 2000
	   });
	 </script>
   
   </head> 
   <footer id="contact" class="shadow-lg py-4 mb-0">
    <div class="section-title">
      <h1>Contact Us</h1>
      <em>Ways to Reach Us</em>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-6 my-2">
          <h4>Get in Touch</h4>
          <i class="bi bi-envelope"></i>
          Email:
          <a href="mailto:greensaviours2016@gmail.com" target="_blank"
            rel="noopener noreferrer">greensaviours2016@gmail.com</a>
          <br>
          <i class="bi bi-phone"></i>
          Phone: <a href="tel:+919611313919">+91 9611313919</a>
          <br>
          <div class="social-links my-2">
            <a href="https://twitter.com/green_saviours"><i class="bi bi-twitter"></i></a>
            <a href="https://www.instagram.com/greensaviours/"><i class="bi bi-instagram"></i></a>
            <a href="https://www.facebook.com/trees4theplanet/?mibextid=ZbWKwL"><i class="bi bi-facebook"></i></a>
          </div>
        </div>
        <div class="col-sm-6 my-2">
          <h4>Location</h4>
          <div class="d-flex justify-content-center">
            <i class="bi bi-geo-alt"></i>
            <address>Kedar Building, 2nd Cross,Vidyanagar,
              Angol, Belagavi, Karnataka, India PIN: 590006
            </address>
          </div>
        </div>
      </div>
      <div class="row">
        <a href="#"></a>
        <a class="mt-3" href="https://sevatech.dbit.in/" target="_blank" rel="noopener noreferrer">
          <br />
        
        </a>
      </div>
    </div>
  </footer>