<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Welcome <%= currentUser.firstName %></li>
		<li><a href="/admin/dashboard">Dashboard<img width="17px" height="17px" src="/assets/images/help.png" style="padding-bottom:2px;margin-left:3px"></a></li>
		<!-- <li><a href="/admin/donations/pending">Pending Donations</a></li>-->
		<li><a href="/admin/gallery">Gallery</a></li> 

		<li><a href="/admin/add_notification">Add Notification <img width="17px" height="17px" src="/assets/images/plus2.png" style="padding-bottom:2px;margin-left:3px"></a></li>
		<li><a href="/admin/show_notification">view Notification <img width="17px" height="17px" src="/assets/images/help.png" style="padding-bottom:2px;margin-left:3px"></a></li>
		<li><a href="/admin/add_new_plantationArea">Add Plantation Areas<img width="17px" height="17px" src="/assets/images/plus2.png" style="padding-bottom:2px;margin-left:3px"></a></li>
		<li><a href="/admin/show_plantation_list">Add Plants to Plantation Areas<img width="17px" height="17px" src="/assets/images/plus2.png" style="padding-bottom:2px;margin-left:3px"></a></li>
		<li><a href="/admin/show_plantation_list_volunteer">Add Volunteers to Plantation Areas<img width="17px" height="17px" src="/assets/images/plus2.png" style="padding-bottom:2px;margin-left:3px"></a></li>

		
		<li><a href="/admin/volunteer">Volunteers<img width="17px" height="17px" src="/assets/images/help.png" style="padding-bottom:2px;margin-left:3px"></a></li>

		

		<!-- <li><a href="/admin/add_new_plantationArea">Add new plant area</a></li> -->

		<li><a href="/admin/add_new_nursary">Add New Nursery<img width="17px" height="17px" src="/assets/images/plus2.png" style="padding-bottom:2px;margin-left:3px"></a></li>
		<li><a href="/admin/show_nursary_details">Add Plants Details to Nursery<img width="17px" height="17px" src="/assets/images/plus2.png" style="padding-bottom:2px;margin-left:3px"></a></li>
		
		<li><a href="/admin/show_plant">show Plants<img width="17px" height="17px" src="/assets/images/help.png" style="padding-bottom:2px;margin-left:3px"></a></li>
		<li><a href="/admin/add_plant">Add Plant<img width="17px" height="17px" src="/assets/images/plus2.png" style="padding-bottom:2px;margin-left:3px"></a></li>



		<li><a href="/admin/profile">My Profile</a></li>
		<li><a href="/auth/logout" class="btn">Logout</a></li>
	</ul>
</div>