<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Welcome <%= currentUser.firstName %></li>
		<li><a href="/donor/dashboard">Dashboard<img width="17px" height="17px" src="/assets/images/help.png" style="padding-bottom:2px;margin-left:3px"></a></li>
		<!-- <li><a href="/donor/donate">Add New Plantaion Details</a></li> -->
		<li><a href="/donor/v_nursary_list">Nursery Details<img width="17px" height="17px" src="/assets/images/help.png" style="padding-bottom:2px;margin-left:3px"></a></li>
		<!-- <li><a href="/admin/add_plantation_details">Add Plantation Details</a></li> -->

		<li><a href="/donor/workdone/previous">My Previous Plantation<img width="17px" height="17px" src="/assets/images/plus2.png" style="padding-bottom:2px;margin-left:3px"></a></li>
		<li><a href="/donor/issues_plantation">Issues of Plantation Area<img width="17px" height="17px" src="/assets/images/plus2.png" style="padding-bottom:2px;margin-left:3px"></a></li>

		<li><a href="/donor/upload_view_pic">Upload/View Images<img width="17px" height="17px" src="/assets/images/plus2.png" style="padding-bottom:2px;margin-left:3px"></a></li>
		<!-- <li><a href="/donor/show_pics">View my Images<img width="17px" height="17px" src="/assets/images/help.png" style="padding-bottom:2px;margin-left:3px"></a></li> -->


		<li><a href="/donor/profile">My Profile<img width="17px" height="17px" src="/assets/images/plus2.png" style="padding-bottom:2px;margin-left:3px"></a></li>
		<li><a href="/auth/logout" class="btn">Logout</a></li>
	</ul>
</div>