

  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Images</title>
  </head>
  <body>
    <form action="/donor/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" />

        <input type="input" id="in_txt"  name="in_txt"/>
    
        <button type="submit">Upload</button>
      </form>
  </body>
  </html>